.itemDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #442020;        
}

.loading {
    color: white;
}


.box-item {
    display: inline-block;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin: 20px;
    align-items: center;
    width: 250px;
    height: 550px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volverATienda {
    border-radius: 10px;
    background-color: white;
    border: 2px solid rgb(65, 101, 112);
}

.linkVolverATienda {
    text-decoration: none;
    color: rgb(65, 101, 112);
}

