.mainFiltered {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #442020;  
}

.spinnerMain {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    align-items: center;
}

.box button {
    background-color: #e28c8c;
}

.box:hover {
    background-color: #ac5e5e;
    cursor: pointer;
}

.box button:hover {
    background-color: white;
    cursor: pointer;
}

.info {
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(65, 101, 112);
}
