.App-header {
  background-color: rgb(19, 4, 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  justify-content: space-between;
  padding: 10px 30px !important;
  align-items: center;
}

#CarritoImagen {
  height: 35px;
  width: 35px;
  filter: invert(100%);
  margin: 0px 10px;
}

#nav-dropdown {
  color: white;
}

.carritoCounter {
  display: flex;
}

footer {
  text-align: center;
  background-color: rgb(19, 4, 4);
  color: white;
  padding: 10px;
}