.box {
    display: inline-block;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin: 20px;
    align-items: center;
    width: 250px;
    height: 600px;
}
